*{
  margin: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.CheckCircle{
  width: 32px;
  height: 32px;
  border-radius: 18px;
  border: 2px solid #ced4da;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  cursor: pointer;
  color:#AAD7D9;
  background-color:white;
}

.Text{
  font-size: 21px;
  color: black;
  font-weight: bolder;
}

.Item{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.AppBar{
  border-radius: 15px;
  font-size: 40px;
  background-color: #92C7CF;
  padding: 20px;
  font-weight: bolder;
  display: flex;
  justify-content: space-around;
}

.AppBar a{
  margin: 10px;
  font-size: 30px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.Root{
  background-color: #E5E1DA;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.TodoTemplate{
  background-color: #FBF9F1;
  height: 650px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.TodoListBlock{
  display: flex;
  flex-direction: column;
}

.TextBlock{
  border-bottom: 2px dashed #AAD7D9;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  margin: 10px;
}